<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-01-30T19:01:38Z</date>
	<key>WorkspacePath</key>
	<string>/Users/teodora/Documents/C++/XCode/minim_3_fisier/minim_3_fisier.xcodeproj</string>
</dict>
</plist>
